@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<City>

@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-center">
    <div>
        <h3 class="text-light">States</h3>
        <p>
            <a href="@Url.Action("AddCity", "Cities")" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                <span>Add City</span>
            </a>
        </p>
        <br />

        @if (@ViewBag.Count > 0)
        {
                <div style="overflow-x:auto;" class="table-responsive">
                    <table class="table table-striped table-dark text-center">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(city=> city.First().CityName)</th>
                                <th>@Html.DisplayNameFor(city=> city.First().State.StateName)</th>
                                <th>@Html.DisplayNameFor(city=> city.First().CreatedDate)</th>
                                <th>Action(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var city in Model)
                        {
                                    <tr>
                                        <td>@city.CityName</td>
                                        <td>@city.State?.StateName</td>
                                        <td>@TimeZoneInfo.ConvertTimeFromUtc(@city.CreatedDate,TimeZoneInfo.FindSystemTimeZoneById(TimeZoneInfo.Local.StandardName)).ToString("dd/MM/yyyy hh:mm:tt")</td>
                                        <td>
                                            <a href="@Url.Action("GetCity", "Cities",new {cityId=city.Id})" class="btn btn-primary">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="@Url.Action("EditCity", "Cities",new {cityId=city.Id})" class="btn btn-warning">
                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                            </a>
                                            <a href="@Url.Action("DeleteCity", "Cities",new {cityId=city.Id})" class="btn btn-danger">
                                                <i class="fa fa-trash-can" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                        }
                        </tbody>
                    </table>
                </div>
        }

        @if (@ViewBag.ShowPagination == true)
        {
                <br />
                <div id='Paging' style="text-align:center;" class="text-light bg-dark paging">
                    <span>
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount
                    </span>
                </div>

                <br />
                <div class="text-light bg-dark">
                    <div class="row">
                        <div class="col-md-12">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </div>
                    </div>
                </div>
        }
    </div>
</div>