@using Ecommerce.Common.Enum
@model AddCustomerModel
@{
    ViewData["Title"] = "AddCustomer";
}

<div class="row justify-content-center" id="addCustomerForm">
    <div class="col-md-6">
        <div class="card" style="margin:auto;">
            <div class="card-header bg-dark text-white text-center bg-dark" style="height:50px">
                <h5 class="mt-1">Add Customer</h5>
            </div>
            <div class="card-body bg-dark text-light" style="border-top:3px solid white">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(customer=> customer.FirstName)
                                @Html.TextBoxFor(customer=> customer.FirstName, new { @class = "form-control" })
                                <span class="text-danger">@Html.ValidationMessageFor(customer=> customer.FirstName)</span>
                                <br />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(customer=> customer.LastName)
                                @Html.TextBoxFor(customer=> customer.LastName, new { @class = "form-control" })
                                <span class="text-danger">@Html.ValidationMessageFor(customer=> customer.LastName)</span>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(customer=> customer.DOB)
                                @Html.TextBoxFor(customer=> customer.DOB, new { @class = "form-control",  type = "date"})
                                <span class="text-danger">@Html.ValidationMessageFor(customer=> customer.DOB)</span>
                                <br />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(customer=> customer.Gender)
                                @Html.DropDownListFor(customer=>customer.Gender,new SelectList(Enum.GetValues(typeof(Gender))),"Select Gender",new { @class = "form-select"})
                                <span class="text-danger">@Html.ValidationMessageFor(customer=> customer.Gender)</span>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(customer=> customer.Email)
                                @Html.TextBoxFor(customer=> customer.Email, new { @class = "form-control" })
                                <span class="text-danger">@Html.ValidationMessageFor(customer=> customer.Email)</span>
                                <br />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(customer=> customer.PhoneNumber)
                                @Html.TextBoxFor(customer=> customer.PhoneNumber, new { @class = "form-control",type="number" })
                                <span class="text-danger">@Html.ValidationMessageFor(customer=> customer.PhoneNumber)</span>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(customer=> customer.Password)
                                @Html.TextBoxFor(customer=> customer.Password, new { @class = "form-control",type = "password" })
                                <span class="text-danger">@Html.ValidationMessageFor(customer=> customer.Password)</span>
                                <br />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(customer=> customer.ConfirmPassword)
                                @Html.TextBoxFor(customer=> customer.ConfirmPassword, new { @class = "form-control",  type = "password"})
                                <span class="text-danger">@Html.ValidationMessageFor(customer=> customer.ConfirmPassword)</span>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6" id="countryDropdownDiv">
                            <div class="form-group">
                                @Html.LabelFor(state=> state.CountryId)
                                <select aria-label="Country" class="form-select" id="countriesDropdown" name="countryId"></select>
                                <span class="text-danger">@Html.ValidationMessageFor(customer=> customer.CountryId)</span>
                                <br />
                            </div>
                        </div>

                        <div class="col-md-6" id="stateDropdownDiv">
                            <div class="form-group">
                                @Html.LabelFor(customer=> customer.StateId)
                                <select aria-label="State" class="form-select" id="stateDropdown" name="stateId"></select>
                                <span class="text-danger" id="stateError">@Html.ValidationMessageFor(customer=> customer.StateId)</span>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row" id="cityDropdownDiv">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(customer=> customer.CityId)
                                <select aria-label="City" class="form-select" id="cityDropdown" name="cityId"></select>
                                <span class="text-danger">@Html.ValidationMessageFor(customer=> customer.CityId)</span>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="border-top:3px solid white">
                        <div class="mt-3 text-center">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary button">
                                        <i class="fa fa-plus"></i>
                                        <span>Add Customer</span>
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <a href="@Url.Action("Index", "Customers")" class="btn btn-danger button">
                                        <i class="fa fa-list"></i>
                                        <span>Cancel</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/js/customer.js" asp-append-version="true"></script>
}