@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center text-uppercase">List of Customers</h3>
<p>
    <a href="@Url.Action("AddCustomer", "Customers")" class="btn btn-primary">
        <i class="fa fa-plus"></i>
    </a>
</p>
<br />
<table class="table table-striped">
    <thead">
        <tr>
            <th>@Html.DisplayNameFor(customer => customer.FirstName)</th>
            <th>@Html.DisplayNameFor(customer => customer.LastName)</th>
            <th>@Html.DisplayNameFor(customer => customer.Email)</th>
            <th>@Html.DisplayNameFor(customer => customer.DOB)</th>
            <th>@Html.DisplayNameFor(customer => customer.Gender)</th>
            <th>@Html.DisplayNameFor(customer => customer.Country)</th>
            <th>@Html.DisplayNameFor(customer => customer.State)</th>
            <th>@Html.DisplayNameFor(customer => customer.City)</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Email</td>
                <td>@customer.DOB.ToString("dd/MM/yyyy")</td>
                <td>@customer.Gender</td>
                <td>@customer.Country</td>
                <td>@customer.State</td>
                <td>@customer.City</td>
                <td>
                    <a href="@Url.Action("GetCustomer", "Customers",new {customerId=customer.CustomerId})" class="btn btn-primary" style="width:60px;">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="@Url.Action("EditCustomer", "Customers",new {customerId=customer.CustomerId})" class="btn btn-warning" style="width:60px;">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                    <a href="@Url.Action("DeleteCustomer", "Customers",new {customerId=customer.CustomerId})" class="btn btn-danger" style="width:60px;">
                        <i class="fa fa-trash-can" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
</table>

