@model AddSupplierModel
@{
    ViewData["Title"] = "AddSupplier";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card" style="margin:auto;">
            <div class="card-header bg-dark text-white text-center bg-dark">
                <h5 class="mt-1">Add Supplier</h5>
            </div>
            <div class="card-body bg-dark text-light" style="border-top:3px solid white" ">
                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(supplier => supplier.SupplierName)
                            @Html.TextBoxFor(supplier => supplier.SupplierName, new { @class = "form-control" })
                            <span class="text-danger">@Html.ValidationMessageFor(supplier => supplier.SupplierName)</span>
                            <br />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(supplier => supplier.Email)
                            @Html.TextBoxFor(supplier => supplier.Email, new { @class = "form-control" })
                            <span class="text-danger">@Html.ValidationMessageFor(supplier => supplier.Email)</span>
                            <br />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(supplier=> supplier.Password)
                            @Html.TextBoxFor(supplier=> supplier.Password, new { @class = "form-control",type = "password" })
                            <span class="text-danger">@Html.ValidationMessageFor(supplier=> supplier.Password)</span>
                            <br />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(supplier=> supplier.ConfirmPassword)
                            @Html.TextBoxFor(supplier=> supplier.ConfirmPassword, new { @class = "form-control",  type = "password"})
                            <span class="text-danger">@Html.ValidationMessageFor(supplier=> supplier.ConfirmPassword)</span>
                            <br />
                        </div>
                    </div>
                </div>

                <div class="row" id="countryDropdownDiv">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(supplier=> supplier.CountryId)
                            <select aria-label="Country" class="form-select" id="countriesDropdown" name="countryId"></select>
                            <span class="text-danger">@Html.ValidationMessageFor(supplier=> supplier.CountryId)</span>
                            <br />
                        </div>
                    </div>
                </div>

                <div class="row" id="stateDropdownDiv">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(supplier=> supplier.StateId)
                            <select aria-label="State" class="form-select" id="stateDropdown" name="stateId"></select>
                            <span class="text-danger" id="stateError">@Html.ValidationMessageFor(supplier=> supplier.StateId)</span>
                            <br />
                        </div>
                    </div>
                </div>

                <div class="row" id="cityDropdownDiv">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(supplier=> supplier.CityId)
                            <select aria-label="City" class="form-select" id="cityDropdown" name="cityId"></select>
                            <span class="text-danger">@Html.ValidationMessageFor(supplier=> supplier.CityId)</span>
                            <br />
                        </div>
                    </div>
                </div>

                <div class="form-group" style="border-top:3px solid white">
                    <div class="mt-3 text-center">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary button">
                                    <i class="fa fa-plus"></i>
                                    <span>Add Supplier</span>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <a href="@Url.Action("Index", "Suppliers")" class="btn btn-danger button">
                                    <i class="fa fa-list"></i>
                                    <span>Cancel</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/js/supplier.js" asp-append-version="true"></script>
} 