@model EditStateModel

@{
    ViewData["Title"] = "EditState";
}

<div>
    <partial name="../Shared/_Header.cshtml" />
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="margin:auto;">
                <div class="card-header bg-dark text-white text-center">
                    <h5 class="mt-1">Add State</h5>
                </div>
                <div class="card-body bg-dark text-light" style="border-top:3px solid white">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(state=> state.CountryId)
                                    @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewBag.CoutryItems, "CountryId", "CountryName"),"Select Country",new { @class = "form-control"})
                                    <span class="text-danger">@Html.ValidationMessageFor(state=> state.CountryId)</span>
                                    <br />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(state=> state.StateName)
                                    @Html.TextBoxFor(state=> state.StateName, new { @class = "form-control" })
                                    <span class="text-danger">@Html.ValidationMessageFor(state=> state.StateName)</span>
                                    <br />
                                </div>
                            </div>
                        </div>

                      <div class="form-group" style="border-top:3px solid white">
                            <div class="mt-3 text-center">
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-warning button">
                                            <i class="fa fa-edit"></i>
                                            <span>Edit State</span>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="@Url.Action("Index", "States")" class="btn btn-secondary button">
                                            <i class="fa fa-list"></i>
                                            <span>States</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>