@model AddCountryModel

@{
    ViewData["Title"] = "AddCountry";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card" style="margin:auto;">
            <div class="card-header bg-dark text-white text-center">
                <h5 class="mt-1">Add Country</h5>
            </div>
            <div class="card-body bg-dark text-light" style="border-top:3px solid white">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(country=> country.CountryName)
                                @Html.TextBoxFor(country=> country.CountryName, new { @class = "form-control" })
                                <span class="text-danger">@Html.ValidationMessageFor(country=> country.CountryName)</span>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="border-top:3px solid white">
                        <div class="mt-3 text-center">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary button">
                                        <i class="fa fa-plus"></i>
                                        <span>Add Country</span>
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <a href="@Url.Action("Index", "Countries")" class="btn btn-secondary button">
                                        <i class="fa fa-list"></i>
                                        <span>Countries</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>